In [1]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("usac.db")
df = pd.read_sql_query("SELECT * from event", con)
con.close()
# verify that result of SQL query is stored in the dataframe
df.drop(['Timestamp', 'permit_number', 'race_cat', 'online_reg', 'id', 'flyer', 'event_website'] , axis=1, inplace=True)
df['city'], df['state'] =zip(*df.location.apply(lambda x: x.rsplit(', ', 1) if len(x.rsplit(', ', 1))==2 else [x, '']))
df['city'] = df.city.apply(lambda x: x.rsplit(',', 1)[0] if len(x.rsplit(',', 1))==2 else x)
df['Start_Date'], df['End_Date'] =zip(*df.dates.apply(lambda x: x.split(' - ', 1) if len(x.rsplit(' - ', 1))==2 else [x, '']))
#df.drop(['location', 'dates'] , axis=1, inplace=True)
df.head()
#df.to_csv(path_or_buf='usac_event_2005_2015.csv')

DatabaseError: Execution failed on sql 'SELECT * from event': no such table: event

In [ ]:
df[df['state'] == ''].count()

In [ ]:
dg = df.groupby('director')['director'].count()
dg.sort_values(ascending=False).head(50)